.artist_detail {
  width: 100%;
}

.artist_detail h2 {
  font-size: 3.5rem;
  font-weight: 900;
  margin: 0;
}

.artist_detail p {
  font-size: 1.2rem;
}

.artist_detail img {
  object-fit: cover;
  border-radius: 50%;
}
.clique{
  cursor: pointer;
}